@import '../../../../../styles/settings/setting.variables';
@import '../../../../../styles/settings/setting.mixins';
@import '../../../../../styles/settings/setting.breakpoint';

.product3 {
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin-inline: auto;
    padding: 2rem;

    @include respond-up('xs') {
        max-width: 540px;
    }

    @include respond-up('sm') {
        max-width: 720px;
    }

    @include respond-up('md') {
        max-width: 960px;
    }

    @include respond-up('lg') {
        max-width: 1180px;
    }

    @include respond-up('xl') {
        max-width: 1200px;
    }

    @include respond-down('sm'){
        flex-direction: column;
    }

    &__img{
        width: 90%;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__intro {
        display: flex;
        flex-direction: column;
        flex-basis: 80%;
        gap: 1.5rem;

        h3 {
            font-size: 34px;
            color: map-get($colors, 'text-1200')
        }

        p {
            font-size: 13px;
            line-height: 1.5rem;
            color: map-get($colors, 'text-1200');

            @include respond-down('sm'){
                font-size: 12px;
            }
        }

        &__container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem;
            align-items: center;

            &__info {
                display: flex;
                gap: 1rem;
            }

            &__data {
                display: flex;
                flex-direction: column;
                div {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    h2 {
                        font-size: 12px;
                        color: map-get($colors, text-1200);
                    }
                }
            }
        }

        &__button{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 8px;
            gap: 8px;
            border: 1px solid map-get($colors, text-1000);
            width: 30%;
            border-radius: 24px;
            padding: 0 20px;
            font-size: 13px;
            color: map-get($colors, text-1000);
            line-height: 40px;
            transition: background-color 0.2s ease-in;

            @include respond-down('lg'){
                width: 40%;
            }

            @include respond-down('md'){
                width: 50%;
            }

            @include respond-down('sm'){
                width: 35%;
            }

            @include respond-down('xs'){
                width: 50%;
            }


            a{
                text-decoration: none;
                color: map-get($colors, text-1200);
            }

            &__icon{
                color: map-get($colors, text-1200);
                margin-bottom: 8px;
            }

            &:hover{
                background-color: map-get($colors, background-1300);
                color: white;
            }
        }
    }


}