.breadcumb-white{
    background-color: white;
    background-position: center;
    background-repeat: repeat-x;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
}