@import '../../../../styles/settings/setting.variables';
@import '../../../../styles/settings/setting.breakpoint';

// $breakpoints: (
//   xs: 576px,
//   sm: 768px,
//   md: 992px,
//   lg: 1280px,
//   xl: 1400px,
// );


.carousel {
    position: relative;

    img{
        @include respond-down('sm'){
            height: 400px;
            object-fit: cover;
        }
    }

    &-control-prev{
        width: fit-content;
        height: min-content;
        border-radius: 100%;
        position: absolute;
        top: 45%;
        left: 2%;
        &-icon{
            background-image: url('../../../../assets/images/chevron-left.png');
            background-color: #e7e7e7;
            border: 1px solid map-get($colors, background-1000 );
            width: 50px;
            height: 50px;
            border-radius: 100%;
            &:hover{
                background-color: map-get($colors, background-1300);
                border: none,
            }    
            
            @include respond-down('md'){
                width: 30px;
                height: 30px;
                background-color: #fff;
             }
        }
    }

    &-control-next{
        width: 5%;
        width: fit-content;
        height: min-content;
        position: absolute;
        top: 45%;
        right: 2%;
        &-icon{
            background-image: url('../../../../assets/images/chevron-right.png');
            background-color: #e7e7e7;
            border: 1px solid white;
            width: 50px;
            height: 50px;
            border-radius: 100%;
            
            &:hover{
                background-color: map-get($colors, background-1300);
                border: none;
            }

            @include respond-down('md'){
               width: 30px;
               height: 30px;
               background-color: #fff;
            }
        }
    }

    &-caption {
        display: flex;
        flex-direction: column;
        text-align: start;
        position: absolute;
        top: 25%;
        left: 10%;
        width: 60%;
        height: fit-content;
        background-color: map-get($colors, 'background-1200');
        padding: 1.5rem;

        &--first{
            background-color: transparent;
        }

        &__title{
            font-style: italic;
            font-family: 'Oswald';
            font-size: 20px;
            padding-left: 80px;
            padding-block: 15px;

            @include respond-down('md'){
                padding-block: 5px;
                font-size: 13px;
            }

            @include respond-down('sm'){
                padding-left: 0;
            }

            &::before{
                content: "";
                background-color: #fff;
                width: 50px;
                height: 1px;
                position: absolute;
                top: 13%;
                margin-left: -65px;
                text-align: center;

                @include respond-down('md'){
                    top: 18%;
                }

                @include respond-down('sm'){
                    display: none;
                }
            }

            @include respond-down('sm'){
                font-size: 10px;
            }

            @include respond-down('xs'){
                font-size: 8px;
            }
        }

        &__name{
            font-size: 96px;
            line-height: 6rem;
            font-weight: 600;

            @include respond-down('lg'){
                font-size: 5vw;
                line-height: 3rem;
            }

            @include respond-down('md'){
                font-size: 4vw;
                line-height: 2rem;
                margin-bottom: 5px;
            }

            @include respond-down('sm'){
                font-size: 22px;
                line-height: 1rem;
            }

            @include respond-down('xs'){
                font-size: 16px;
            }
        }
        &__content{
            text-transform: capitalize;
            font-size: calc(0.29464286rem + 0.71428571vw);
            padding-bottom: 2rem; 

            @include respond-down('md'){
                padding-bottom: 1rem;
            }

            @include respond-down('sm'){
                padding-bottom: 0;
            }
        }

        &__link{
            a{
                text-decoration: none;
                color: #fff;
                line-height: 40px;
                border: 1px solid #fff;
                padding: 10px 30px;
                font-weight: 400;
                font-size: calc(0.15178571rem + 0.80357143vw);
                border-radius: 24px; 
                transition: background-color 0.3s ease-in-out;

                @include respond-down('sm'){
                    padding: 5px 15px;
                }

                &:hover{
                    background-color: map-get($colors, background-300);
                    color: map-get($colors, text-primary);
                    border: none
                }
            }
            @include respond-down('md'){
                padding: 0;
            }

            @include respond-down('sm'){
                width: fit-content;
            }

        }
    }
}