@import '../../../../styles/settings/setting.variables';
@import '../../../../styles/settings/setting.breakpoint';

// $breakpoints: (
//   xs: 576px,
//   sm: 768px,
//   md: 992px,
//   lg: 1280px,
//   xl: 1400px,
// );


.carousel {
    position: relative;

    img{
        @include respond-down('sm'){
            height: 400px;
            object-fit: cover;
        }
    }

    &-control-prev{
        span{
            border: 1px solid white;
            border-radius: 100%;

            &:hover{
                background-color: map-get($colors, background-1300);
            }
        }
    }

    &-control-next{
        @extend .carousel-control-prev;
    }

    &-caption {
        display: flex;
        flex-direction: column;
        text-align: start;
        position: absolute;
        top: 20%;
        left: 10%;
        width: 55%;
        height: fit-content;
        background-color: map-get($colors, 'background-1200');

        @include respond-down('sm'){
            top: 30%;
        }

        &--first{
            background-color: transparent;
        }

        &__title{
            font-style: italic;
            font-family: 'Oswald';
            font-size: calc(0.36607143rem + 0.98214286vw);
            padding-top: 1rem;
            padding-left: 1rem;   
            
            @include respond-down('sm'){
                font-size: 12px;
            }
        }

        &__name{
            font-size: calc(-0.22321429rem + 5.80357143vw);
            font-weight: bold;
            padding-inline: 1rem;

            @include respond-down('sm'){
                font-size: 22px;
            }

            @include respond-down('xs'){
                font-size: 16px;
            }
        }
        &__content{
            text-transform: capitalize;
            font-size: calc(0.29464286rem + 0.71428571vw);
            padding-bottom: 1rem;
            padding-left: 1rem;  
        }

        &__link{
            padding: 2rem;
            font-size: calc(0.15178571rem + 0.80357143vw);
            border-radius: 24px;
            @include respond-down('md'){
                padding: 0;
            }

            @include respond-down('sm'){
                width: fit-content;
            }
        }
    }
}