@import '../../../../styles/settings/setting.variables';
@import '../../../../styles/settings/setting.breakpoint';
@import '../../../../styles/settings/setting.mixins';

.contact {
    margin-top: 2rem;
    max-width: 1300px;
    margin-inline: auto;
    padding-block: 2rem;

    @include respond-up('xs') {
        max-width: 540px;
    }

    @include respond-up('sm') {
        max-width: 720px;
    }

    @include respond-up('md') {
        max-width: 960px;
    }

    @include respond-up('lg') {
        max-width: 1180px;
    }

    @include respond-up('xl') {
        max-width: 1320px;
    }

    &__title {
        text-align: center;
        p{
            font-style: italic;
            color: map-get($colors, 'text-400');
            font-family: georgia;
            font-size: 20px;
        }
        h2{
            font-size: 36px;
            color: map-get($colors, 'text-1200');
            font-weight: 600;
            margin-bottom: 4rem;
            position: relative;

            @include respond-down('sm'){
                font-size: 24px;
            }

            &::after,
            &::before {
                content: "";
                width: 40px;
                height: 1px;
                background-color: map-get($colors, 'background-1300');
                position: absolute;
                left: 50%;
                bottom: -35%;
                margin-left: -10px;
            }
    
            &::after{
                bottom: -50%;
            }
    
            &::before {
                margin-left: -30px;
            }
        }
    }

    &__form{
        margin-left: auto;
        margin-right: auto;
        position: relative;
        width: 100%;

        @include respond-up('md'){
            max-width: 800px;
        }

        &__input{
            padding: 10px 160px 10px 25px;
            line-height: 30px;
            height: 54px;
            border-radius: 35px;
            font-weight: 400;
            border-radius: 2rem;
            background-color: map-get($colors , background-1400);
        }

        &__link{
            position: absolute;
            right: 0;
            top: 0;
            line-height: 54px;
            padding: 25px;
            border-radius: 35px;
            color: #ffffff;
            font-weight: 600;
            

            @include respond-down('md'){
                font-size: 8px;
            }
            
        }

    }
}