@import '../../../index.scss';
@import '../../../styles/settings/setting.variables';
@import '../../../styles/settings/setting.mixins';
@import '../../../styles/settings/setting.breakpoint';

.login {

    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 2rem;

        @include respond-down('sm'){
            display: flex;
            flex-direction: column;
            padding: 2rem;
        }

        &__title {
            font-weight: 600;
        }

        &__form {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            &__group{
                p{
                    transition: color 0.3s ease-in;
                    margin-top: 1rem;
                    &:hover{
                        color: map-get($colors, text-primary);
                    }
                }
            }

            &__button{
                display: flex;
                flex-direction: column;
                gap: 1rem;
            }
        }
    }

    @include respond-down('sm') {
        display: flex;
        flex-direction: column;
    }

    section {
        display: flex;
        flex-direction: column;
        border: 1px solid map-get($colors, background-1000);
        padding: 2rem;
        flex-basis: 50%;
        gap: 1rem;
        height: fit-content;
    }

    h2 {
        margin-block: 2rem;
    }


    button {
        background-color: map-get($colors, background-1300);
        border-radius: 24px;
        border: none;
        padding-block: .5rem;
    }
}