@import '../../../../styles/settings/setting.variables';
@import '../../../../styles/settings/setting.breakpoint';
@import '../../../../styles/settings/setting.mixins';

.feature {
    margin-top: 2rem;
    max-width: 1320px;
    padding-inline: 2rem;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

    @include respond-up('xs') {
        max-width: 540px;
    }

    @include respond-up('sm') {
        max-width: 720px;
    }

    @include respond-up('md') {
        max-width: 960px;
    }

    @include respond-up('lg') {
        max-width: 1180px;
    }

    @include respond-up('xl') {
        max-width: 1320px;
    }

    &__title {
        text-align: center;
        p{
            font-style: italic;
            color: map-get($colors, 'text-400');
            font-family: georgia;
            font-size: 20px;
        }
        h2{
            font-size: 36px;
            color: map-get($colors, 'text-1200');
            font-weight: 600;
            position: relative;

            &::after, &::before{
                content: "";
                display: block;
                width: 40px;
                height: 1px;
                background-color: map-get($colors, 'primary-400');
                position: absolute;
                left: 50%;
                margin-left: -10px;
            }

            &::before{
                margin-left: -30px;
            }
        }
    }
    &__container{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1.5rem;

        @include respond-down('sm'){
            flex-wrap: wrap;
        }

        &__detailed{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;

            @include respond-down('sm'){
                flex: 0 0 auto;
                width: 40%;
            }


            h2{
                text-align: center;
                font-size: 1rem;
                font-weight: 600;
                margin-block: 1rem;
            }

            p{
                text-align: center;
                color: map-get($colors, 'text-1300');
            }
        }
    }
    &__product{
        margin: 0 auto 4em;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        @include respond-down('md'){
            width: 90%;
        }
    }
}