@import '../../../../index.scss';
@import '../../../../styles/settings/setting.variables';
@import '../../../../styles/settings/setting.mixins';
@import '../../../../styles/settings/setting.breakpoint';

.article {

    &__mb{
        display: none;
        text-align: center;
        font-size: 24px;
    }

    @include respond-down('sm'){
        display: block;
    }

    hr {
        margin-block: 2rem;
    }

    &__block {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding-top: 2rem;

        p {
            color: map-get($colors, text-1100);
            line-height: 1.5rem;
            text-align: justify;
            font-size: 13px;
        }

        &__img {
            width: 100%;

            img {
                width: 100%;
                height: auto;
                border-radius: 14px;
            }
        }

        &__badge {
            text-align: center;
            border: 1px solid map-get($colors, background-1000);
            width: 8%;
            margin-inline: auto;
            padding: .5rem;
            border-radius: 14px;

            @include respond-down('xs') {
                max-width: 540px;
            }
        
            @include respond-down('sm') {
                max-width: 720px;
            }
        
            @include respond-down('md') {
                max-width: 960px;
            }
        
            @include respond-down('lg') {
                width: 20%;
            }
    
        }

        &__title,
        &__author {
            text-align: center;
        }

        &__subcontent {
            display: flex;
            flex-direction: column;
            gap: .5rem;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        h3{
            text-align: center;
        }

        p{
            text-align: center;
        }

        &__container {
            display: flex;
            flex-direction: column;
            gap: .5rem;
            .form-control {
                padding-block: 1rem;
                border-radius: 24px;
            }

            &__group {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                gap: 1rem;
            }

            button {
                background-color: map-get($colors, background-100);
                color: #fff;
                border-radius: 24px;
                padding: .8rem;
                width: 20%;
                margin-inline: auto;

                @include respond-down('xs') {
                    width: 50%;
                }
            
                @include respond-up('xs') {
                    width: 30%;
                }
        
            }
        }
    }
}