@import '../../../../styles/settings/setting.variables';
@import '../../../../styles/settings/setting.mixins';
@import '../../../../styles/settings/setting.breakpoint';

hr {
    width: 80%;
    margin-inline: auto;
}

.products-list {
    max-width: 1200px;
    margin-inline: auto;
    margin-block: 3rem;
    position: relative;

    @include respond-up('xs') {
        max-width: 540px;
    }

    @include respond-up('sm') {
        max-width: 720px;
    }

    @include respond-up('md') {
        max-width: 960px;
    }

    @include respond-up('lg') {
        max-width: 1180px;
    }

    @include respond-up('xl') {
        max-width: 1200px;
    }

    @include respond-down('md') {

        .products-list__inner {
            width: 100%;
        }

        .products-list__item {
            flex: 0 0 104%!important;
        }
    }


    &__title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-bottom: 80px;

        p {
            font-size: 20px;
            color: map-get($colors, text-1100);
            text-transform: none;
            font-family: 'Georgia';
            font-style: italic;
            margin-bottom: 3px;
        }

        h2 {
            font-size: 40px;
            font-weight: 600;
            color: map-get($colors, text-1200);


            &::after,
            &::before {
                content: "";
                width: 40px;
                height: 1px;
                background-color: map-get($colors, 'background-1300');
                position: absolute;
                left: 50%;
                bottom: -45%;
                margin-left: -10px;
                margin-bottom: 10px;
            }

            &::after {
                bottom: -50%;
            }

            &::before {
                margin-left: -30px;
                font-weight: 600;
            }
        }
    }

    .products-list__wrapper {
        overflow: hidden;
        position: relative;
    }

    .products-list__inner {
        display: flex;
        transition: transform 0.5s ease;
    }

    .products-list__item {
        position: relative;
        flex: 0 0 20%;
        padding: 0 10px;
        box-sizing: border-box;
    }

    .products-list__card {
        border: none;
        border-radius: 30px;
        width: 16rem;
        margin-block: 1rem;
        transition: box-shadow 0.3s ease-in;
           background-color: #f8f8f8;

        &:hover {
            box-shadow: 0 0 1px 3px map-get($colors, text-1000);
        }

        @include respond-down('lg') {
            width: 12rem;
        }

        @include respond-down('md') {
            width: 90%;
        }


        &__img {
            position: relative;

            &__discount {
                position: absolute;
                background-color: #d31129;
                font-size: 12px;
                color: #fff;
                font-weight: 600;
                border-radius: 12px;
                line-height: 25px;
                width: 20%;
                top: 5%;
                right: 5%;

                @include respond-down('lg') {
                    width: 30%;
                }

                @include respond-down('md') {
                    width: 25%;
                }

                p {
                    text-align: center;
                }
            }

            &__icons {
                position: absolute;
                right: 10px;
                bottom: 10px;
                z-index: 3;
                padding: 5px 8px;
                border: 1px solid;
                border-color: map-get($colors, background-1100);
                border-radius: 10px;
                background-color: #fff;


                &__detailed {
                    color: map-get($colors, text-1300);
                    width: 28px;
                    display: block;
                    font-weight: 400;
                    text-align: center;
                    opacity: 0.9;

                    &:hover {
                        color: map-get($colors, text-primary);
                        transition: 0.3s ease-in;
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }
        }

        img {
            box-shadow: 0 0 0 1px map-get($colors, background-1000);
        }

        &__body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;

            &__colors {
                display: flex;
                gap: .4rem;

                img {
                    width: 30px;
                    height: 30px;
                    object-fit: cover;
                    border-radius: 100%;
                    border: 1px solid map-get($colors, background-1000);

                    &:hover {
                        border: 1px solid #a8741a;
                    }

                    .active {
                        border: 1px solid #a8741a;
                    }
                }
            }

            &__star {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: .2rem;

                svg {
                    width: 11px;
                    height: 18px;
                }

                &--filled {
                    color: map-get($colors, status-200);
                }

                &--unfilled {
                    color: map-get($colors, text-1000);
                }
            }

            &__name {
                text-align: center;
                font-size: 14px;
            }

            &__price {
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: 'Oswald';

                &--new {
                    color: map-get($colors, text-primary);
                    font-size: 16px;
                    font-weight: 600;
                    margin-right: 10px;
                    text-align: center;
                }

                &--old {
                    color: map-get($colors, text-1300);
                    font-size: 14px;
                    font-weight: 600;
                    text-decoration: line-through;
                }
            }

            &__button {
                font-family: 'Oswald';
            }
        }
    }

    .carousel-control-prev,
    .carousel-control-next {
        width: 50px;
        height: 50px;
        position: absolute;
        top: 43%;
        transform: translateY(-50%);
        background-color: white;
        border-radius: 100%;
        box-shadow: 0 0 0 1px map-get($colors, background-1000);
        color: map-get($colors, text-1200);
        border: none;
        padding: 0.5rem;
        cursor: pointer;
        z-index: 1;

        &:hover {
            background-color: map-get($colors, background-1300);
            color: #fff;
        }
    }

    .carousel-control-prev {
        left: 0;
    }

    .carousel-control-next {
        right: 0;
    }
}