@import '../../../../../index.scss';
@import '../../../../../styles/settings/setting.variables';
@import '../../../../../styles/settings/setting.mixins';
@import '../../../../../styles/settings/setting.breakpoint';
@import '../../../landing-page/product-list/ProductList.scss';

.products-detail-1 {
    margin-inline: auto;
    padding-block: 2rem;

    &__inner {
        padding-block: 2rem;
        margin-inline: auto;
        display: flex;
        gap: .2rem;
        position: relative;

        @include respond-up('sm') {
            max-width: 720px;
        }

        @include respond-up('md') {
            max-width: 960px;
        }

        @include respond-up('lg') {
            max-width: 1140px;
        }

        @include respond-up('xl') {
            max-width: 1200px;
        }
    }

    &__container {
        background-color: map-get($colors, background-1200);

        h2 {
            text-align: center;
            font-weight: 600;
            font-size: 36px;
            margin-block: 2rem;
            position: relative;

            &::after,
            &::before {
                content: "";
                width: 40px;
                height: 1px;
                background-color: map-get($colors, 'background-1300');
                position: absolute;
                left: 50%;
                bottom: -50%;
                margin-left: -10px;
                margin-bottom: 10px;
            }

            &::after {
                bottom: -65%;
            }

            &::before {
                margin-left: -30px;
                font-weight: 600;
            }
        }

        .carousel-control-prev-1,
        .carousel-control-next-1 {
            width: 40px;
            height: 40px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background-color: transparent;
            border-radius: 100%;
            border: 1px solid #e5e5e5;
            box-shadow: 0 0 0 1px map-get($colors, background-1000);
            color: map-get($colors, text-1200);
            cursor: pointer;
            z-index: 1;

            &__icon {
                width: 100%;
            }

            &:hover {
                background-color: map-get($colors, background-1300);
                color: #fff;
            }
        }

        .carousel-control-prev-1 {
            left: 0;
        }

        .carousel-control-next-1 {
            right: 0;
        }
    }

    &__item {}

}